.sjb-page {
    .sjb-listing {
        .grid-view {
            .row {
                .grid-item {
                    &:nth-child(3n+1) {
                        clear: left;
                        @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                            clear: none;
                        }
                    }
                    &:nth-child(2n+1) {
                        @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                            clear: left;
                        }
                    }
                }
            }
        }
    }
}