.sjb-page {
    .sjb-filters {
        background-color: @gray-lighter;
        border: 0;
        margin: 30px 0 15px;
        padding: 35px 30px 0;
        .col-md-2,
        .col-md-3,
        .col-md-4 {
            float: right;
            @media (max-width: @screen-sm-max) {
                float: none;
            }
        }
        .form-control {
            .border-radius(0);
            font-size: @font-size-large;
            height: 40px;
            text-align: right;
            margin-bottom: 35px;
        }
        select {
            -moz-appearance: inherit;
            background: @white url("../images/select-arrow.png") no-repeat center left 10px;
        }
        .btn-search {
            border: 0;
            .border-radius(0);
            font-family: "FontAwesome";
            font-size: 20px;
            height: 40px;
            margin-bottom: 35px;
            padding: 0;
            width: 100%;
        }
    }
}