/**
 * Element Icons
 */
.vc_helper .vc_element-icon.fa,
.wpb_content_element > .wpb_element_wrapper > .wpb_element_title .vc_element-icon.fa{
  background-image: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  border-radius: 32px;
  color: #fff;
  background: #428bca;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.vc_helper .vc_element-icon.fa{
  color: #afd23e;
  background: #fff;
}

/**
 * VC Bootstrap Five Columns
 */
.vc_col-md-five{
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.vc_no_top_padding{
  padding-top: 0 !important;
}

/**
 * Add Element Modal
 */
.wpb-elements-list-modal .vc_element-icon.fa{
  background-image: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wpb-elements-list-modal .wpb-content-layouts li{
  width: 200px;
}

.wpb-elements-list-modal .wpb-content-layouts a{
  width: 100%;
}

.vc_shortcodes_container > .wpb_element_wrapper > .vc_container_for_children{
  margin: 0 10px;
  padding: 10px;
}

/**
 * Nested Shortcodes
 */
.vc_shortcodes_container{
  position: relative;
}

.vc_shortcodes_container > .controls_column{
  height: 32px;
  padding: 6px;
}

.vc_shortcodes_container .cs-container-title{
  text-align: right;
  position: absolute;
  left: 8px;
  top: 6px;
  z-index: 0;
}

/**
 * Fix Tabs Issue
 */
.wpb_vc_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block{
  padding: 10px;
}

/**
 * Composer Switch
 */
.wpb_switch-to-composer:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/**
 * display:none for uneccessary things
 */
.wpb_cs_cta .add_tab_block,
.vc_navbar-header,
.wpb-content-layouts-container > li:first-child{
  display: none;
}


/**
 * VC UPLOAD
 */
.wpb_el_type_vc_cs_upload .cs-button-remove,
.wpb_el_type_vc_cs_upload .cs-add-media{
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
}

/**
 * VC IMAGE SELECT
 */
.wpb_edit_form_elements .vc_image_select{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wpb_edit_form_elements .vc_image_select li {
  display: inline-block;
  padding: 5px 5px 5px 0;
  cursor: pointer;
}
.wpb_edit_form_elements .vc_image_select li img {
  vertical-align: bottom;
  border: 3px solid #e1e1e1;
}
.wpb_edit_form_elements .vc_image_select li.selected img {
  border: 3px solid #444;
}

/**
 * VC ON OFF
 */
.wpb_edit_form_elements .cs_field_on_off .switch-active .switch-label {
  background: #4fb845;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.wpb_edit_form_elements .cs_field_on_off .switch-active .switch-label:before {
  opacity: 0;
}
.wpb_edit_form_elements .cs_field_on_off .switch-active .switch-label:after {
  opacity: 1;
}
.wpb_edit_form_elements .cs_field_on_off .switch-active .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/**
 * VC CHOSEN
 */
.wpb_el_type_vc_cs_chosen .chosen-container{
  min-width: 100%;
}

.wpb_el_type_vc_cs_chosen .search-field input{
  width: 200px !important;
}

.wpb_el_type_vc_cs_chosen .search-field input {
  height: 25px !important;
}

.wpb_edit_form_elements .vc-tabs > ul li a:focus{
  box-shadow: none;
}
.metabox-composer-content a{
  outline: none;
}

/**
 * UI Fixes
 */
.vc_shortcodes_container .wpb_content_element > .wpb_element_wrapper,
.wpb_vc_accordion .wpb_content_element > .wpb_element_wrapper,
.wpb_vc_tabs .wpb_content_element > .wpb_element_wrapper,
.wpb_vc_row_inner .wpb_content_element > .wpb_element_wrapper{
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.025);
}