.sjb-page {
    .sjb-detail {
        margin: 30px 0 0;
        article {
            border: 0;
            margin: 0;
            padding: 0;
            .company-logo {
                @media (min-width: @screen-lg) {
                    width: 95px;
                    margin-left: -27px;
                }
                @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                    width: 95px;
                    margin-left: -44px;
                }
                img {
                    @media (min-width: @screen-md) {
                        height: 95px;
                        width: 95px;
                    }
                }
            }
            .company-title-margin {
                @media (min-width: @screen-lg) {
                    margin: 0 27px 10px 0;
                }
                @media (min-width: @screen-md) and (max-width: @screen-md-max) {
                    margin: 0 44px 10px 0;
                }
            }
            .company-tagline {
                margin: 0 0 20px;
            }
            h3 {
                color: @brand-primary;
                font-size: @font-size-large;
                margin: 17px 0;
            }
            ul {
                list-style: none;
                margin: 0 0 12px;
                padding: 0;
                li {
                    font-size: @font-size-large;
                    line-height: 24px;
                    padding-right: 15px;
                    position: relative;
                    &::before {
                        color: @brand-primary;
                        content: "\f100";
                        font-family: "FontAwesome";
                        font-size: 12px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
        .job-features {
            float: left;
            width: 100%;
            .table {
                direction: rtl;
                font-size: @font-size-large;
                font-weight: 400;
                th {
                    border-bottom: 0;
                    font-weight: 400;
                    padding: 10px 15px;
                    text-align: right;
                    width: 70%;
                    &:first-child {
                        border-left: 1px solid @gray-light;
                        padding-right: 0;
                        width: 30%;
                    }
                }
                td {
                    border-color: @gray-light;
                    padding: 10px 15px;
                    text-align: right;
                    width: 70%;
                    &:first-child {
                        border-left: 1px solid @gray-light;
                        padding-right: 0;
                        width: 30%;
                    }
                }
                tr {
                    &:last-child {
                        td {
                            border-bottom: 1px solid @gray-light;
                        }
                    }
                }
            }
        }
        .jobpost-form {
            float: left;
            width: 100%;
            .jobapp-gender {
                float: right;
                margin-bottom: 14px;
                width: 100%;
            }
            label {
                font-size: @font-size-large;
                font-weight: 400;
                &.small {
                    float: right;
                    margin-left: 15px;
                    input {
                        float: right;
                        margin: 5px 0 0 5px;
                    }
                }
            }
            .required {
                color: #f00;
                float: left;
                font-size: @font-size-large;
                margin-right: 4px;
            }
            .form-control {
                font-size: @font-size-large;
                height: 46px;
                text-align: right;
                .transition(all 0.2s ease-in-out);
                &:hover {
                    border-color: @brand-primary;
                }
            }
            .intl-tel-input {
                z-index: 999;
                .flag-container {
                    right: 0;
                    &:hover {
                        & + .form-control {
                            border-color: @brand-primary;
                        }
                    }
                }
            }
            .file {
                background: @white;
                border: 1px solid @gray-light;
                border-radius: 4px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                font-size: @font-size-large;
                height: 46px;
                line-height: 1.42857;
                padding: 10px 12px;
                position: relative;
                text-align: right;
                .transition(all 0.2s ease-in-out);
                width: 100%;
                div {
                    background: @brand-primary;
                    border-radius: 4px;
                    color: @white;
                    font-size: @font-size-base;
                    height: 32px;
                    padding: 6px 12px;
                    position: absolute;
                    left: 6px;
                    text-align: center;
                    top: 6px;
                    .transition(all 0.2s ease-in-out);
                }
                input[type="file"] {
                    left: 0px;
                    position: absolute;
                    top: 0px;
                    z-index: 100;
                }
                &:hover {
                    border-color: @brand-primary;
                    div {
                        background: darken(@link-color, 10%);
                    }
                }
            }
            .validity-note {
                display: none;
                margin-left: 10px;
            }
            .app-submit {
                margin: 15px 0;
            }
        }
    }
    .intl-tel-input {
        .country-list {
            right: 0;
            .country,
            .divider {
                line-height: normal;
                &::before {
                    content: "";
                    font-size: 0;
                    margin-right: 0;
                    padding-right: 0;
                }
            }
            .country {
                .flag-box {
                    float: right;
                    margin-top: 7px;
                }
            }
        }
    }
}