.sjb-page {
    article {
        border: 1px solid @gray-light;
        float: left;
        margin: 15px 0;
        padding: 20px 20px 10px;
        text-align: right;
        width: 100%;
        header {
            .col-md-1,
            .col-md-2,
            .col-md-3,
            .col-md-5,
            .col-md-11 {
               float: right;
               @media (max-width: @screen-sm-max) {
                    float: none;
                }
            }
            .col-sm-2,
            .col-sm-3,
            .col-sm-4,
            .col-sm-8,
            .col-sm-10 {
                float: right;
                @media (max-width: @screen-xs-max) {
                    float: none;
                }
            }
        }
        .company-logo {
            margin-bottom: 15px;
            img {
                border: 1px solid @gray-light;
                @media (max-width: @screen-xs-max) {
                    height: 95px;
                    width: 95px;
                }
            }
        }
        .header-margin-top {
            margin-top: 16px;
            @media (max-width: @screen-sm-max) {
                margin-top: 19px;
            }
            @media (max-width: @screen-xs-max) {
                margin-top: 0;
            }
        }
        .company-title {
            margin: 0 0 10px;
            h4 {
                color: @gray-dark;
                font-size: @font-size-large;
                margin: 0;
                padding: 0;
                word-wrap: break-word;
                a {
                    color: @gray-dark;
                    word-wrap: break-word;
                    &:hover {
                        color: @brand-primary;
                    }
                }
            }
        }
        .job-description {
            float: left;
            width: 100%;
            p {
                color: @gray;
                font-size: @font-size-large;
            }
        }
        .job-type,
        .job-location,
        .job-date {
            color: @brand-primary;
            font-size: @font-size-base;
            margin-bottom: 10px;
            word-wrap: break-word;
            i {
                color: @gray-dark;
                float: right;
                margin: 3px 0 0 5px;
            }
        }
    }
}