/*--------------------------
 Table of Content
----------------------------
# Colors
# Typography
# Elements
----------------------------*/

/*--------------------------
# Normalize
----------------------------*/

.sjb-section{
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.sjb-content{
    width: 500px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-content{
        width: 100%;
    }    
}
.sjb-content p{
    margin-bottom: 0;
}
.sjb-form-group:first-child{
    padding-top:0;
    padding-bottom:10px;
}
.sjb-form-group{
    padding: 10px 0;
    height: 28px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-form-group{
        height: inherit;
    }
}
.sjb-form-group:last-child{
    padding-top:10px;
    padding-bottom:0;
}
.sjb-form-group input{
    float: right;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-form-group input{
        float: none;
        width: 100%;
    }
}
.sjb-form-group input[type="radio"],
.sjb-form-group input[type="checkbox"]{
    float: left;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-form-group input[type="radio"],
    .sjb-form-group input[type="checkbox"]{
        float: left;
        width: inherit;
    }
}
.sjb-form-group input[type="radio"]{
    margin-top: 5px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-form-group input[type="radio"]{
        margin-top: -1px;
    }
}
.sjb-form-group input[type="checkbox"]{
    margin-top: 4px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-form-group input[type="checkbox"]{
        margin-top: -1px;
    }
}
.sjb-form-group label{
    padding-top: 2px;
    cursor: default;
    width: 90%;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-form-group label{
        margin-bottom: 10px;
        display: inline-block;
    }
}
.sjb-typography{
    float: left;
    margin: 5px;
    width: 100%;
}
.sjb-typography-label{
    float: left;
    width: 250px;
    cursor: default;
}
.sjb-typography-label label{
    cursor: default;
    display: inline-block;
    min-width: 250px;
}
.sjb-typography-input{
    float: left;
    width: 55%;
}
#sjb-presstigers-logo{
    float: right;
    margin-top: -21px;
}
.sjb-content-featured{
    width: 700px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-content-featured{
        width: 100%;
    }
}
.sjb-content-featured .sjb-form-group{
    width: 30%; 
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    height: 50px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-content-featured .sjb-form-group {
        float: left;
        height: inherit;
        margin: 0 15px 0 0;
        padding: 0;
        width: 100%;
    }
}
.sjb-content-featured .sjb-form-group label{
    cursor: default;
    float: left;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-content-featured .sjb-form-group label{
        float: left;
        text-align: left;
        width: 100%;
        font-weight: bold;
    }
}
.sjb-content-featured .sjb-form-group input[type="text"],
.sjb-content-featured .sjb-form-group select{
    width: 100%;
}
.sjb-content-featured input[type="submit"]{
    margin-top: 19px;
}
.sjb-content-featured .pt-elements{
    float: left;
    height: 50px;
}
.sjb-content-featured .pt-elements .pt-required{
    float: left;
    margin-top: 25px;
    margin-right: 15px;
}
#job_feature_form label,
#job_app_form label{
    width: 250px;
    display: inline-block;
    cursor: default;
}
@media (min-width: 320px) and (max-width: 768px){
    #job_app_form label{
        width: 100%;
        display: inline-block;
    }
}
#job_app_form select{
    width: 200px;
    display: inline-block;
    margin-right: 15px;
}
#job_feature_form li:first-child,
#job_app_form li:first-child{
    padding-bottom: 10px;
    padding-top: 0;
}
#job_feature_form li,
#job_app_form li{
    padding: 10px 0;
}
#job_feature_form li:last-child,
#job_app_form li:last-child{
    padding-bottom: 0px;
    padding-top: 10px;
}
#upload-file-select{
    width: 250px;
}
@media (min-width: 320px) and (max-width: 768px){
    #upload-file-select{
        height: 143px !important;
    }
}
.sjb-content-email-notify{
    width: 500px;
}
.sjb-content-email-notify .sjb-form-group{
    float: left;
}
.sjb-content-email-notify .sjb-form-group label{
    width: 220px;
    display: inline-block;
    float: left;
}
.sjb-content-email-notify .sjb-form-group.right-align{
    margin-left: 220px;
}
.sjb-content-email-notify .right-align label{
    width: 250px;
}
@media (min-width: 320px) and (max-width: 768px){
    .sjb-content-email-notify{
        width: 100%;
    }
    .sjb-content-email-notify .sjb-form-group label{
        display: inline-block;
        float: left;
    }
    .sjb-content-email-notify .sjb-form-group.right-align{
        margin-left: 0px;
        float: left;
    }

}
@media (min-width: 320px) and (max-width: 480px){
    #job_app_form label,
    #job_app_form select{
        margin-bottom: 10px;
    }
    #job_app_form select{
        width: 100%;
    }
    .sjb-form-group input[type="radio"], .sjb-form-group input[type="checkbox"]{
        width: 20px;
    }
}
@media (min-width: 320px) and (max-width: 992px){
    .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper, h3.nav-tab-wrapper{
        border-bottom: none;
    }
    h1 .nav-tab, h2 .nav-tab, h3 .nav-tab{
        border-bottom: 1px solid #ccc;
        margin: 10px 10px 0 0;
    }
}

/*--------------------------
# Colors
----------------------------*/
.sjb-section{
    background-color:#f9f9f9;
}
/*--------------------------
# Typography
----------------------------*/
.sjb-admin-settings h4.first{
    margin: 32px 1px 18px 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}
.sjb-admin-settings h4{
    margin:20px 1px 20px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}
/*--------------------------
# Elements
----------------------------*/

/**
 * Job Detail Page -> Meta Boxes CSS
 */
.simple-job-board-metabox {
    padding: 12px;
    clear: both;
}
.simple-job-board-metabox::after, .simple-job-board-metabox::before {
    content: "";
    display: table;
}
.simple-job-board-metabox::after {
    clear: both;
}
.metabox-field {
    clear: both;
    float: left;
    line-height: 2em;
    margin: 0 0 12px;
    padding: 0 12px 0 0;
    width: 50%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    
}
.metabox-field:nth-child(2n) {
    clear: right;
    float: right;
    padding: 0 0 0 12px;
}
.metabox-field label {
    display: block;
    font-weight: 700;
    margin: 0;
    vertical-align: middle;
}
.metabox-field input[ type=text ],
.metabox-field textarea
{
    width: 100%;
}
.metabox-field .file_url input {
    width: 85.8%;
}
.metabox-field .tips {
    color: #999;
    cursor: help;
    float: right;
    font-weight: 400;
}
.meta_option_panel label {
  cursor: default;
  min-width: 175px;
  display: inline-block;
}
#app_form_fields select, select#jobapp_field_type {
    width: 200px;
    display: inline-block;
    margin-right: 15px;
}

// Meta Boxes & Settings -> Movable Fields
#job_features li label, #app_form_fields li label, #settings_job_features li label, #settings_app_form_fields li label{
    cursor: move;
}

// TinyMCE button
i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}
i.mce-ico.mce-i-icon.sjb-icon {
    background-image: url(../images/jobs.png);    
}
body .mce-window .mce-container-body.mce-abs-layout {
    overflow-y: hidden;
}